/* RESET DASAR */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* HEADER */
.header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* PEMBATAS LEBAR KONTEN */
.container {
  max-width: 900px;
  margin: 40px auto;
}

/* ABOUT SECTION */
.about {
  background-color: white;
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
}

/* FOTO */
.about img {
  width: 300px;
  border-radius: 10px;
}

/* TEKS */
.text h2 {
  margin-top: 0;
}

/* RESPONSIVE HP */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    width: 100%;
  }
}

footer {
  text-align: center;
  padding: 20px;
  color: #555;
}
